doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Быстрый запуск Webpack'
        link(href=require('./main.scss') rel='stylesheet')
    body
        h1 Hello Pug!
        .logo-png
            img.logo1(src=require('./images/beer.png') alt='Загрузка PNG изображений с помощью Webpack')
        .logo-svg
            img.logo2(src=require('./images/dragon.svg'), alt='Загрузка SVG изображений с помощью Webpack')

        include:markdown-it ../content/article.md

        #root

        script(src=require('./index.js'))